fastapi
uvicorn[standard]
pydantic
pydantic-settings
google-genai
supabase
composio
playwright
browser-use
groq
python-dotenv
websockets
cryptography
langchain-google-genai
uv
telethon
apscheduler
PyMuPDF
pandas
beautifulsoup4
python-multipart
